@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{font-family:'PT Serif';}

a {
    text-decoration: none !important;
    color: white !important;
    font-weight: 500;
}


a:hover{
    color: #a06464 !important;
    text-decoration: none;
}

ul {list-style: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
